
/*Reset*/
*{

    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

/*General*/



img{

    max-width: 100%;
    display: block;
}

a{

    color: white;
    text-decoration: none;
}
.button{

    display: inline-block;
    padding: 4px 8px;
    border-radius: 20px;

}
.bt-white{

    background-color: white;
    
}

.bt-blue{

    background-color:#0084FD ;
    margin-bottom: 20px;
    padding: 10px 40px;
    font-weight: bold;
}

.bt-violet{

    background-color: #9792E4;
    color: white;
}


#text-black{

    color: black;
}

.text-blue{

   color:#0084FD; 
}

.text-center{

    text-align: center;
}


/*Header*/

header{

    background-color: #0084FD;
    max-width: 100%;
}

.header{

    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    
}

.row{

    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.col.desktop-nav ul{

    display: flex;
    list-style: none;
    
}

.col.desktop-nav ul li{

    padding: 4px 8px;
    
}

.col.desktop-nav ul li,
.col.mobile-nav
{

    color: white;

}
.desktop-nav{

    display: none;
}

.col.mobile-nav i{

    font-size: 1.5rem;
}


/*Main*/

/*Section info-app*/

.info-app{

    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

.info-card{

    border-radius: 20px;
    background-color: #B5DDFF;
    padding: 20px 20px 0;
    margin-top: 20px;

}

.info-card h3{

    padding-bottom: 20px;
}

.info-card p{

    padding-bottom: 20px;
    line-height: 2rem;
    color: grey;
    font-weight: bold;
}

.img-phone{

    width: 80%;
    margin: 0 auto;
}

.icon-info{

    font-size: 6rem;
    
}

/*Section planning*/

.bg-violet{

    
    background-color: #9792E4;
}

.planning{

    
    margin-top: 100px;
    padding-bottom: 70px;
}
.planning .top{

    padding: 40px 30px;
    color: white;

}

.planning .top img{

    margin: 40px auto;
}


.planning .bottom img{

    margin: 40px auto ;
}

.planning .top h2{

    font-size: 3rem;
    margin-bottom: 40px;

}


.planning .top p
{

    line-height: 2rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.planning .bottom{

    
    background-color: white;
    margin: 30px;
    border-radius: 30px;
    padding: 20px 0;
}

.planning .bottom h3{

    font-size: 2rem;
    padding: 20px 0;
}

.planning .bottom p{

    line-height: 2rem;
    padding: 20px 20px;
    font-size: 1.2rem;
    
}

#bt-circle {

    margin:0 50%;
    width: 40px;
    height: 40px;
    
    }

#bt-circle a{

    color: black;
    font-size: 20px;
    
}

/*Section testimonials*/

.testimonials{

    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    
}

.testimonials h3{

    font-size: 2rem;
    color:#9792E4 ;
    padding: 20px 0;
}



.card-testimonial{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
    border-radius: 30px;
    margin-top: 30px;

}
.photo-test img{

    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 0 0 20px;
    
}

.card-testimonial .info-test p{

    color: white;
    line-height: 2rem;
    

}

.card-testimonial .info-test h4{

    color: white;
    padding: 20px 0;
    
}


/*Footer*/

/*Responsive*/

@media screen and (min-width:576px) {


.header{

    padding-right: 20px;
}

.header,
.info-app{

    width: 90%;
    margin: 0 auto;
}
.info-app{

    display: flex;    
    
}

.info-card.big{

    width: calc(((100% / 3) * 2) - 20px);
    margin-right: 20px;
    

}
.info-card.small{

    width: calc((100% / 3) - 20px);
    
}

.info-card h3{

    padding-bottom: 20px;
}

.info-card p{

    padding-bottom: 20px;
    line-height: 1.5rem;
    color: grey;
    font-weight: bold;
}
.icon-info{

    font-size: 4rem;
    
}

.info-card.small:nth-child(4){

    margin: 20px 20px 0;
    
}

.img-phone{

    width: 60%;
    margin-left: 20px;
    padding-top: 40px;
}

.card-testimonial{

    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 30px;
    
}

.photo-test{

    width: 30%;
    
}

.info-test{

    width: 70%;
    text-align: left;
    padding-left: 40px;
}
}

@media screen and (min-width:992px) {

    
    .header,
    .info-app{
        width: 70%;
        margin: 0 auto 60px;
    }
    .col.desktop-nav{

        display: block;
    }

    .col.mobile-nav{

        display: none;
    }

    .info-card.big{

        display: flex;
    }
    
    .info-card.big .left,
    .info-card.big .right{

        width: 50%;
    }

    .img-phone{

        align-self: flex-end;
    }
    
    .planning{

        display: flex;
        width: 60%;
        margin: 0 auto;
        
    }

    .planning .top{

        width: 50%;
        
    }

    .planning .bottom{

        width: 50%;
        align-self: flex-end;
        
    }

    .planning .bottom img{

        width: 150px;
        margin-top :10px;
    }

    .planning .bottom h3,
    .planning .top h2{

        font-size: 1.5rem;
        
    }

    .testimonials{

        width: 70%;
    }

    
}